.modal {
  display: flex;
  flex-direction: column;

  align-items: center;
  border-radius: 30px;
}
.modalIcon {
  stroke: black;
}
.modalClosing {
  opacity: 0;
  transform: translateY(-20px);
  transition: 0.2s;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
}

.imgWrap {
  background-color: var(--yellow-background-color);
  padding: 18px;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.attention {
  margin-bottom: 20px;
  font-family: Manrope;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: var(--accent-color);
}

.attentionText {
  font-family: Manrope;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  vertical-align: middle;
  color: var(--second-black-color);
  margin-bottom: 24px;
}

.linksWrap {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.linksBtn {
  font-family: Manrope;
  font-weight: 700;

  font-size: 14px;
  line-height: 1.2;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  width: 135px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}

.linkLogin {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.linkLogin:hover,
.linkLogin:focus {
  background-color: var(--hover-focus-accent-color);
}

.linkRegistration {
  color: var(--accent-color);
  background-color: var(--yellow-background-color);
}

.linkRegistration:hover,
.linkRegistration:focus {
  background-color: var(--hover-focus-small-btn);
}

@media (min-width: 768px) {
  .attentionText {
    width: 300px;
  }
}
