/* обычный header — для всех страниц */
.header {
  position: relative;
  width: 100%;
  background: #fff;
  z-index: 10;
}

/* ТОЛЬКО главная */
.headerHome {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
}

.authWrapper {
  display: none;
}