/* обычный header — для всех страниц */
.header {
  padding-top: 28px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.logoIconHome {
  stroke: #ffffff; /* или нужный цвет */
}

/* ТОЛЬКО главная */
.headerHome {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
}

.authWrapper {
  display: none;
}

.burgerIcon {
  stroke: #262626;
}

.mobMenuOpenBtn {
  background-color: transparent;
  border: none;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerNavContainer {
  display: none;
}

@media (min-width: 768px) {
  .authWrapper {
    display: flex;
  }

  .headerContainer {
    display: flex;
    justify-content: space-between;
  }

  .authWrapperMobMenu {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
@media (min-width: 1280px) {
  .mobileMenu {
    display: none;
  }

  .headerNavContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .headerContainer {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .authWrapper {
    display: flex;
  }

  .headerLogoWrapper {
    display: flex;
    margin-right: auto;
    align-items: center;
  }

  .logoIcon {
    width: 105px;
    height: 28px;
    margin-right: 300px;
  }
}
