.header {
  padding-top: 28px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.logoIconHome {
  stroke: #ffffff;
}

.headerHome {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
}

.authWrapper {
  display: none;
}

.burgerIcon {
  stroke: #262626;
}

.mobMenuOpenBtn {
  background-color: transparent;
  border: none;
}

.headerContainer {
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerNavContainer {
  display: none;
}

.burgerIconHome {
  stroke: #ffffff;
}

.headerMobMenuUserBar {
  display: flex;
  gap: 14px;
  align-items: center;
}

.headerMobMenuUserBarPhoto {
  width: 45px;
  height: 45px;
  display: flex;
  padding: 10px;
  justify-content: center;
  background-color: #fff4df;
  border: none;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .headerMobMenuUserBarPhoto {
    display: none;
  }
  .authWrapper {
    display: flex;
  }

  .headerContainer {
    padding-right: 32px;
    padding-left: 32px;
    display: flex;
    justify-content: space-between;
  }

  .authWrapperMobMenu {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
@media (min-width: 1280px) {
  .mobileMenu {
    display: none;
  }

  .authWrapper {
    display: flex;
  }

  .headerContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }

  .headerLogoWrapper {
    display: flex;
    align-items: center;
    margin-right: 0;
  }

  .logoIcon {
    width: 105px;
    height: 28px;
    margin-right: 0;
  }

  .headerNavContainer {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .logoIconHome {
    margin-left: 64px;
  }
  .authWrapperMobMenu {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
