/* обычный header — для всех страниц */
.header {
  padding-top: 28px;
  position: relative;
  width: 100%;
  z-index: 10;
}

/* ТОЛЬКО главная */
.headerHome {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
}

.authWrapper {
  display: none;
}

.burgerIcon {
  stroke: #262626;
}

.mobMenuOpenBtn {
  background-color: transparent;
  border: none;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
