.container {
  width: 100%;
  padding: 0 16px; 
  margin: 0 auto; 
  box-sizing: border-box;
}


@media (min-width: 320px) and (max-width: 374px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 375px) {
  .container {
    max-width: 360px;
  }
}

/* Tablet */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Desktop */
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
