.backdrop {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background: #2626264d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 335px;
  max-height: 476px;
  overflow-y: auto;
  background: var(--white-color);
  border-radius: 30px;
  padding: 40px 28px 40px 28px;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 14px;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
}

.closeBtnIcon {
  stroke: black;
}

.image {
  border-radius: 100%;
  width: 120px;
  height: 120px;
}

.imageWrap {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.title {
  font-family: Manrope;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 10px;
}

.popularity {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 4px;
}

.petInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.petInfoWrap {
  margin-top: 24px;
  display: flex;
  gap: 27px;
}

.petInfo {
  font-family: Manrope;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  color: var(--friends-list-title);
}

.petInfoSpan {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  color: var(--title-color);
}

.comment {
  margin-top: 16px;
  font-family: Manrope;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #2b2b2a;
}

.price {
  margin-top: 32px;
  font-family: Manrope;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}

.contactBtn {
  font-family: Manrope;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}

.contactBtnWrap {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 134px;
}

.contactBtnWrapContact {
  color: var(--accent-color);
  background-color: var(--yellow-background-color);
}

.contactBtnWrapContact:hover,
.contactBtnWrapContact:focus {
  background-color: var(--hover-focus-small-btn);
}

.favoriteBtn {
  font-family: Manrope;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  background-color: var(--accent-color);
  color: var(--white-color);
  display: flex;
  border: none;
  gap: 8px;
}

.contactBtnIcon {
  fill: white;
}

.favoriteBtn:hover,
.favoriteBtn:focus {
  background-color: var(--hover-focus-accent-color);
}

.actions {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
