.hero {
  position: relative;
  overflow: hidden;
}

.heroImgContainer {
  position: relative;
  width: 100%;
  height: 402px;
}

.heroImage {
  object-fit: cover;
  border-radius: 30px;
}

.heroBg {
  background-color: var(--accent-color);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 485px;

  border-radius: 30px;
}

.heroTitleContainer {
  display: flex;
  flex-direction: column;
  padding: 118px 40px 50px 40px;
  border-radius: 30px;
}

.heroTitle {
  display: inline-block;
  font-family: Manrope;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.1;
  color: var(--white-color);
  margin-bottom: 24px;
}

.spanCare {
  color: #ffffff66;
}

.heroAfterTitle {
  font-family: Manrope;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: var(--white-color);
}
@media (min-width: 768px) {
  .heroBg {
    background-color: var(--accent-color);
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 496px;
    border-radius: 30px;
  }

  .heroTitleContainer {
    height: 496px;
    /* padding-top: 112px; */
    padding-right: 32px;
    padding-bottom: 44px;
    padding-left: 32px;
    align-items: flex-end;
  }
  .heroTitle {
    font-family: Manrope;
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 32px;
    max-width: 640px;
    letter-spacing: -0.03em;
    line-height: 0.96;
    display: block;
  }

  .heroAfterTitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    max-width: 255px;
    height: 88px;
    letter-spacing: -0.02em;
    margin-left: 0;
  }
}

@media (min-width: 1280px) {
  .heroImg {
    height: 1216px;
  }

  .heroBg {
    background-color: var(--accent-color);
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 345px;
    border-radius: 30px;
  }
  .heroTitle {
    margin-bottom: 0;
    display: block;
    font-family: Manrope;
    font-weight: 700;
    font-size: 90px;
    line-height: 0.97;
    letter-spacing: -0.03em;
    max-width: 760px;
  }

  .heroTitleContainer {
    padding-right: 64px;

    padding-left: 64px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
}
