.heroTitleContainer {
  width: 335px;
  min-height: 390px;
  border-radius: 30px;
  background: var(--accent-color);
  padding: 118px 20px 50px;
}

.heroTitle {
  font-family: Manrope;
  font-weight: 700;
  font-size: 50px;
  line-height: 0.96;
  color: var(--white-color);
}

.spanCare {
  color: #ffffff66;
}

.heroAfterTitle {
  margin-top: 24px;
  font-family: Manrope;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  color: var(--white-color);
  width: 295px;
  height: 54px;
}

.heroImgContainer {
  position: relative;
  width: 335px;
  height: 402px;
  border-radius: 30px;
  overflow: hidden;
}

.heroImage {
  object-fit: cover;
}

.heroTitleContainer,
.heroImgContainer {
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .heroTitleContainer {
    margin: 0 auto;
    width: 704px;
    min-height: 496px;
    border-radius: 60px;
    padding: 178px 32px 44px;
  }

  .heroTitle {
    font-family: Manrope;
    font-weight: 700;
    font-size: 75px;
    line-height: 0.97;
    color: var(--white-color);
  }

  .heroImgContainer {
    margin: 0 auto;
    width: 704px;
    height: 496px;
    border-radius: 60px;
  }

  .heroImage {
    object-fit: cover;
  }
  .heroAfterTitle {
    margin-top: 32px;
    margin-left: auto;

    text-align: left;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    color: var(--white-color);
  }
}

@media (min-width: 1280px) {
  .heroContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .heroTitleContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    max-width: 1216px;
    min-height: 384px;
    border-radius: 60px;
    padding: 178px 64px 32px;
    align-items: flex-end;
  }

  .heroTitle {
    font-size: 80px;
    line-height: 0.96;
    width: 760px;
  }

  .heroAfterTitle {
    height: 88px;

    font-size: 18px;
    line-height: 1.22;
  }

  .heroImgContainer {
    width: 100%;
    max-width: 1216px;
    height: 384px;
    border-radius: 60px;
  }
}
