.noticeItem {
  padding: 24px;
  display: flex;
  flex-direction: column;
  height: 100%;

  background-color: var(--white-color);
  border-radius: 16px;
}

.noticeItemImage {
  margin-bottom: 24px;
  object-fit: cover;
  border-radius: 16px;
}

.noticeItemImageWrap {
  position: relative;
  width: 100%;
  aspect-ratio: 287 / 178;
  margin-bottom: 24px;
  border-radius: 16px;
  overflow: hidden;
}
.noticeItemTitleStarWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noticeItemTitle {
  font-family: Manrope;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #2b2b2a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.noticeItemPop {
  display: flex;
  gap: 1px;
  align-items: center;
  font-family: Manrope;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #2b2b2a;
}
.noticeItemCategory {
  display: flex;
  flex-direction: column;
  font-family: Manrope;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  color: var(--title-color);
}

.noticeItemCategorySpan {
  font-family: Manrope;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: var(--friends-list-title);
}

.noticeItemCategoryWrap {
  margin-top: 8px;
  margin-bottom: 16px;
  display: flex;
  gap: 14px;
}

.noticeItemComment {
  font-family: Manrope;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}

.noticeItemPrice {
  font-family: Manrope;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--second-black-color);
  min-height: 20px;
  margin-bottom: 12px;
}

.noticeItemPriceEmpty {
  min-height: 20px;
}

.noticeItemBtnWrapper {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.favoriteBtn {
  display: flex;
  padding: 14px;
  border: none;
  background-color: var(--yellow-background-color);
  border-radius: 50%;
}

.favoriteBtn:hover,
.favoriteBtn:focus {
  background-color: var(--hover-focus-small-btn);
}

.learnMoreBtn {
  font-family: Manrope;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: var(--white-color);
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 30px;
  width: 231px;
}

.learnMoreBtn:hover,
.learnMoreBtn:focus {
  background-color: var(--hover-focus-accent-color);
}

@media (min-width: 768px) {
  .noticeItem {
    flex-basis: calc((100% - 20px) / 2);
  }
}

@media (min-width: 1280px) {
  .learnMoreBtn {
    width: 257px;
  }
  .noticeItemCategory {
    min-width: 0; /* важно для ellipsis внутри flex/grid */
    display: flex;
    flex-direction: column;
  }
  .noticeItemCategoryWrap {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 14px;
  }
  .noticeItemTitle {
    font-family: Manrope;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
  }

  .noticeItemPop {
    font-family: Manrope;
    font-weight: 500;
    line-height: 1.42;
  }

  .noticeItem {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .noticeItemBtnWrapper {
    margin-top: auto;
  }
  .noticeItemCategoryValue {
    display: block;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
