.wrapper {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tablet,
.desktop {
  display: none;
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }

  .tablet {
    display: block;
  }
}

@media (min-width: 1280px) {
  .tablet {
    display: none;
  }

  .desktop {
    display: block;
  }
}
