.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
}

.image {
  object-fit: cover;
}

@media (min-width: 768px) {
  .wrapper {
    border-radius: 60px;
  }
}
