:root {
  --main-color: #26262666;
  --accent-color: #f6b83d;
  --title-color: #262626;
  --white-color: #ffffff;
  --yellow-background-color: #fff4df;
  --friends-list-title: #26262680;
  --second-black-color: #2b2b2a;
  --hover-focus-small-btn: #fbe7c1;
  --hover-focus-accent-color: #f9b020;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: var(--font-manrope), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
