.friendsList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 768px) {
  .friendsList {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 1200px) {
  .friendsList {
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
  }
}
