.userLink {
  display: none;
}

@media (min-width: 768px) {
  .userLink {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .userName {
    font-family: Manrope;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    color: var(--title-color);
  }

  .userAvatarIcon {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding: 13px;
    background-color: #fff4df;
  }
}
