.userLink {
  display: none;
}

@media (min-width: 768px) {
  .userLink {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .userName {
    font-family: Manrope;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    color: var(--title-color);
  }

  .userAvatarIcon {
    border-radius: 50%;
    display: flex;
    justify-content: center;

    background-color: #fff4df;
  }
  .userAvatarIcon {
    overflow: hidden;
    border-radius: 50%;
  }

  .userAvatarImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .wrap {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff4df; 
  }

  .avatar {
    object-fit: cover;
    border-radius: 50%;
  }

  .fallbackIcon {
    width: 20px;
    height: 20px;
  }
}
