.newsListContainer {
  padding-top: 24px;
  padding-bottom: 44px;
  width: 100%;
}

.newsList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

@media (min-width: 768px) {
  .newsList {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

@media (min-width: 1280px) {
  .newsList {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}
