.logoutBtn {
  font-family: Manrope;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  background-color: var(--yellow-background-color);

  border: none;

  border-radius: 30px;
  padding-top: 12px;
  padding-right: 60px;
  padding-bottom: 12px;
  padding-left: 60px;
}

.logoutBtn:hover,
.logoutBtn:focus {
  background-color: var(--hover-focus-small-btn);
}
