.navList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navListItem.navListItemMob:hover {
  border: 1px solid #fff4df;
}

.navListItem.navListItemMob.active {
  border: 1px solid #fff4df;
}

.navListItemMobLink {
  color: var(--white-color);
}

.navListItem.navListItemHome:hover {
  border: 1px solid white;
}
.navListItem {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #26262626;
  background-color: transparent;
  display: flex;
  width: 119px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}

.navListItem:hover,
.navListItem:focus {
  border: 1px solid var(--accent-color);
}

.navListIink {
  font-family: Manrope;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navListLinkHome {
  color: #ffffff;
}
.navListItem.active {
  border: 1px solid var(--accent-color);
}

@media (min-width: 1280px) {
  .navList {
    display: flex;
    flex-direction: row;
  }
  .navListItem {
    height: 40px;
  }

  .navListLinkAuth:hover,
  .navListLinkAuth:focus {
    border: 1px solid var(--accent-color);
  }

  .navListLinkAuth {
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: transparent;
    display: flex;
    width: 119px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    color: var(--title-color);
  }
  .navListHome {
    margin-right: 150px;
  }

  .navListItemHomeAuth:hover,
  .navListItemHomeAuth:focus {
    border: 1px solid var(--white-color);
  }

  .navListLinkHomeAuth {
    color: #fff;
  }

  .navListItemHomeAuth.active {
    border: 1px solid var(--white-color);
  }
}
