.profilePage {
  padding-top: 28px;
  padding-bottom: 56px;
}

@media (min-width: 1280px) {
  .profilePageContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
  }

  .profilePageContainer > :first-child {
    flex: 0 0 520px;
  }

  .profilePageContainer > :last-child {
    flex: 1 1 auto;
    min-width: 0;
  }
}
