.userBlock {
  padding: 10px 14px;
  font-family: Manrope;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: var(--white-color);
  display: flex;
  align-items: center;
}

.userBlockWrap {
  justify-content: center;
  border-radius: 30px;
  background-color: var(--accent-color);
  width: 80px;
  height: 38px;
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.userBlockWrap:hover,
.userBlockWrap:focus {
  background-color: var(--hover-focus-accent-color);
}

.userIconBlock {
  fill: var(--white-color);
}

.userBlockBtnWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
