.newListImg {
  border-radius: 15px;
  width: 100%;
  height: auto;
}

.newListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newListTitle {
  margin-top: 20px;
  font-family: Manrope;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.03em;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  min-height: calc(1.25em * 2);
}

.newListAfterTitle {
  margin-top: 12px;
  font-family: Manrope;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.newListDate {
  font-family: Manrope;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #26262680;
}

.readMoreLink {
  font-family: Manrope;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--accent-color);
  text-decoration: underline;
}

.newListWrapper {
  margin-top: 19px;
  display: flex;
  justify-content: space-between;
}

.newListContent {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media (min-width: 768px) {
  .newListImg {
    width: 100%;
    height: auto;
  }
  .newListItem {
    flex-basis: calc((100% - 32px) / 2);
  }
  .newListContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
  }

  .newListWrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
  }
  .newListImg {
    width: 340px;
    height: 226px;
  }

  .newListTitle {
    max-height: 52px;
    margin-top: 18px;
    font-size: 20px;
    line-height: 1.3;
    font-family: Manrope;
    font-weight: 700;
    letter-spacing: -0.03em;
    min-height: calc(1.3em * 2);
  }

  .newListAfterTitle {
    margin-top: 14px;
    font-size: 16px;
    line-height: 1.25;
  }

  .newListDate {
    font-size: 16px;
    line-height: 1.25;
  }

  .readMoreLink {
    font-size: 16px;
    line-height: 1.25;
  }
  .newListWrapper {
    margin-top: 28px;
  }
}

@media (min-width: 1280px) {
  .newListItem {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .newListImg {
    width: 100%;
    height: auto;
  }

  .newListTitle {
    font-family: Manrope;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: -0.03em;
    min-height: calc(1.3em * 2);
  }

  .newListItem {
    height: 476px;
  }

  .newListContent {
    width: 100%;
    margin-top: 28px;
  }
  .newListContentCardWrap {
    display: flex;
    flex-direction: column;
  }
}
