.rloginPageWrapper {
  padding-bottom: 20px;
}

.petBlockOverlay {
  display: none;
  position: absolute;
  left: 61px;
  bottom: 97px;
}
.petBlockLoginImg {
  position: relative;
  margin-bottom: 10px;
  border-radius: 60px;
}

.loginTitle {
  font-family: Manrope;
  font-weight: 700;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.04em;
  color: var(--title-color);
}

.loginFormContainer {
  display: flex;
  flex-direction: column;
  padding: 27px 20px;
  background-color: var(--white-color);
  border-radius: 30px;
}

.loginAfterTitle {
  margin-top: 12px;
  font-family: Manrope;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--title-color);
}

.loginAfterFormText {
  display: flex;
  justify-content: center;
  margin-top: 2px;
  font-family: Manrope;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--friends-list-title);
}

.loginFormLoginReroutLink {
  text-decoration: underline;
  color: var(--accent-color);
}
.loginFormLoginReroutLink:hover,
.loginFormLoginReroutLink:focus {
  color: var(--hover-focus-accent-color);
}

@media (min-width: 768px) {
  .loginPageWrapper {
    margin-top: 32px;
  }

  .petBlockLoginImg {
    width: auto;
    height: auto;
    border-radius: 60px;
    margin-bottom: 16px;
  }

  .loginFormContainer {
    border-radius: 60px;
    padding: 26px 140px;
  }

  .loginTitle {
    margin-bottom: 16px;
    font-family: Manrope;
    font-weight: 700;
    font-size: 54px;
    line-height: 1;
    letter-spacing: -0.04em;
  }

  .loginAfterTitle {
    font-family: Manrope;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }

  .loginAfterFormText {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: -0.03em;
  }
}

@media (min-width: 1280px) {
  .loginPageContainerWrapper {
    padding: 0px 0px;
  }
  .loginPageContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 32px;
  }
  .petBlockWrapper,
  .loginFormContainer {
    flex: 1;
  }

  .petBlockWrapper {
    width: 592px;
    height: 654px;
    position: relative;
  }
  .petBlockLoginImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .loginFormContainer {
    padding: 100px 84px;
    max-width: 592px;
    height: auto;
  }

  .petBlockLoginImg {
    width: 100%;
    height: 100%;
  }

  .loginTitle {
    font-family: Manrope;
    font-weight: 700;
    font-size: 54px;
    line-height: 1;
    letter-spacing: -0.04em;
    margin-bottom: 16px;
  }

  .loginAfterTitle {
    font-family: Manrope;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }

  .loginAfterFormText {
    margin-bottom: 0;
  }
  .petBlockOverlay {
    display: block;
    border-radius: 60px;
    position: absolute;
  }
  .petBlockOverlayImg {
    border-radius: 20px;
  }
}
