.tabsContainer {
  margin-top: 40px;
}

.tabBtn {
  font-family: Manrope;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: var(--title-color);
  padding-top: 12px;
  padding-bottom: 12px;
  width: 124px;
  background-color: var(--white-color);
  border: none;
  border-radius: 30px;
}
.tabBtn:hover,
.tabBtn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.tabsWrap {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tabBtnActive {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.tabBtnActive:hover,
.tabBtnActive:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.noFavorites {
  margin-top: 80px;
  font-family: Manrope;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: var(--title-color);
}

.noFavoritesSpan {
  color: var(--accent-color);
}
.noticesList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 768px) {
  .noFavorites {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    width: 458px;
    margin: 180px auto 0;
  }

  .noticesList {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: stretch;
  }

  .myNoticesItem {
    height: 100%;
  }
}
@media (min-width: 1280px) {
  .noticesList {
    margin-top: 32px;
    display: grid; /* было flex */
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
    align-items: stretch;
  }
  .myNoticesItem {
    height: 100%;
  }
  .tabsContainer {
    margin-top: 0;
  }
}
