.noticeList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 768px) {
  .noticeList {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 1280px) {
  .noticeList {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
}
