.noticeList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 44px;
}

.noticeList > li {
  height: 100%;
}

@media (min-width: 768px) {
  .noticeList {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 60px;
    margin-bottom: 60px;
  }
}

@media (min-width: 1280px) {
  .noticeList {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-bottom: 60px;
  }
}
