.formContainer {
  display: flex;
  padding: 28px 20px 20px 20px;
  background-color: var(--white-color);
  border-radius: 30px;
}

.formTitle {
  font-family: Manrope;
  font-weight: 700;
  font-size: 28px;
  line-height: 1;
  color: var(--title-color);
  white-space: nowrap;
}

.formAfterTitle {
  margin-left: 8px;
  font-family: Manrope;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: #2b2b2a66;
}

.formTitleWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

/* SEX LABEL - RADIO BTN */

.sexRow {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
}

.sexOption {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.sexInput {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.sexIconWrap {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  place-items: center;
  border: none;
  transition: 0.2s ease;
}

.sexIconWrapFemale {
  background-color: #f43f5e1a;
}
.sexIconWrapFemale:hover,
.sexIconWrapFemale:focus {
  border: 1px solid #f43f5e;
}
.sexIconWrapMale {
  background-color: #54adff1a;
}

.sexIconWrapMale:hover,
.sexIconWrapMale:focus {
  border: 1px solid #54adff;
}
.sexIconWrapDuo {
  background-color: var(--yellow-background-color);
}
.sexIconWrapDuo:hover,
.sexIconWrapDuo:focus {
  border: 1px solid #f6b83d;
}
.sexText {
  font-size: 12px;
}

/* IMAGE */
.imagePreviewIconWrapp {
  background-color: var(--yellow-background-color);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 68px;
  height: 68px;
}

.imagePreview {
  margin-top: 8px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.uploadBtn {
  font-family: Manrope;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: var(--title-color);
  display: flex;
}

.uploadBtnWrap {
  flex: 0 0 117px;
  min-height: 42px;
  height: 42px;
  border-radius: 30px;
  padding: 0 10px;
  background-color: var(--yellow-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.uploadBtn {
  width: 100%;
  height: 100%;
  font-family: Manrope;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  color: var(--title-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.uploadPhotoIcon {
  stroke: #f6b83d;
  margin-left: 5px;
}

.imageRow {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
}

.imageRowInput {
  font-family: Manrope;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: var(--title-color);
  padding: 10px;
  border: 1px solid #26262626;
  border-radius: 30px;
  outline: none;
}

.imageRowInput:hover {
  border: 1px solid var(--accent-color);
  color: var(--title-color);
}

/* INPUTS */

.inputWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  padding: 12px;
  font-family: Manrope;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #26262680;
  border: 1px solid #26262626;
  border-radius: 30px;
  width: 100%;
  outline: none;
}

.input:hover {
  border: 1px solid var(--accent-color);
  color: var(--title-color);
}

.inputWrapperCalendar {
  position: relative;
  width: 144px;
  min-height: 42px;
  height: 42px;
}

.inputIconCalendar {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  stroke: black;
  fill: transparent;
}

.inputWrapperSearch {
  display: flex;
  flex-direction: row;
}

/* ACTION BTN */

.actions {
  margin-top: 31px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: flex-end;
}

.actionsBtn {
  font-family: Manrope;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100px;
  border: none;
  border-radius: 30px;
}

.actionsBack {
  color: var(--title-color);
  background-color: #2626260d;
}

.actionsSubmit {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.actionsBtn:hover,
.actionsBtn:focus {
  color: var(--white-color);
  background-color: var(--hover-focus-accent-color);
}

/* ERROR */
.errorWrap {
  display: flex;
  flex-direction: column;
}
.error {
  min-height: 12px;
  font-family: Manrope;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  color: var(--error-color);
}

.speciesSelectWrap {
  width: 100%;
}
.add-pet-species__control {
  min-height: 42px;
  height: 42px;
}

.add-pet-species__value-container {
  min-height: 42px;
}

.add-pet-species__indicators {
  min-height: 42px;
}
@media (min-width: 768px) {
  .formTitleWrap {
    justify-content: flex-start;
  }
  .formContainer {
    display: flex;
    padding: 40px 136px;
  }

  .formTitle {
    font-size: 32px;
  }

  .formAfterTitle {
    font-size: 16px;
    line-height: 1.25;
  }
  .sexRow {
    margin-top: 40px;
    gap: 8px;
  }

  .sexIconWrap {
    width: 40px;
    height: 40px;
  }
  .imagePreviewIcon {
    width: 44px;
    height: 44px;
  }
  .imagePreviewIconWrapp {
    margin-top: -18px;
    margin-bottom: 12px;
    width: 86px;
    height: 86px;
  }

  .input {
    padding: 16px;
    font-size: 16px;
    line-height: 1.3;
  }
  .inputWrap {
    gap: 18px;
  }
  .imageRowInput {
    font-size: 14px;
    line-height: 1.2;
    width: 278px;
  }

  .uploadBtnWrap {
    flex: 0 0 146px;
    min-height: 42px;
    height: 42px;
  }
  .uploadBtn {
    font-size: 14px;
    line-height: 1.2;
    align-items: center;
  }

  .uploadPhotoIcon {
    width: 18px;
    height: 18px;
  }

  .inputWrapperCalendar {
    position: relative;
    width: 210px;
    min-height: 52px;
    height: 52px;
  }

  .speciesSelectWrap {
    width: 210px;
  }

  .actions {
    margin-top: 40px;
  }

  .actionsBtn {
    font-size: 16px;
    line-height: 1.3;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 170px;
  }
 
  .inputWrapperSearch {
    gap: 10px;
  }
}

@media (min-width: 1280px) {
  .formContainer {
    display: flex;
    padding: 60px 80px;
    background-color: var(--white-color);
    border-radius: 30px;
  }
  .inputWrapperSearch {
    gap: 10px;
  }
}
